<h1>You have come to search page</h1>

<div class="card card-header">
<strong>Symbol :</strong> <%= @stock.ticker %>
<strong>Name :</strong> <%= @stock.name %>
<strong>Stock Price :</strong> <%= @stock.last_price %>
</div>